html, body, #root {
  margin: 0;
  height: auto !important;
  width: 100%;
  overflow-x: hidden;
}

.main {
  height:100%;
  width: 100%;
}

.listBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20%;
}

.topBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFC0CB;
  height: 100px;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 30px;      
  font-family: 'Comic Sans MS';
}

@media only screen and (max-width: 700px) {
  .listBlock {
    margin: 0 10%;
  }

  .topBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFC0CB;
    height: 40px;
    margin-bottom: 16px;
    color: #ffffff;
    font-size: 22px;      
    font-family: 'Comic Sans MS';
  }
}